.infos {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: 2rem auto 0;
}

.infos span {
  font-size: 2rem
}

.infos-moedas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem
}

.infos input {
  width: 30%;
  margin: 0 auto;
}

.infos button {
  margin: 0 auto;
  background-color: yellow;
  color: #000;
  padding: 0.5rem 1rem;
  width: 30%;

  font-weight: 700;

  cursor: pointer;
}

.infos button:hover {
  background-color: yellow;
  color: #000;
  transition: all 0.2s
}

.resultado {
  display: block;
  margin: 1rem 0 0;
}

.resultado h2 {
  color: yellow;
  font-size: 2rem;
  margin-bottom: 1rem
}

.resultado p {
  font-size: 0.8rem;
}